body {
	background: radial-gradient(circle, rgba(251,63,63,0.9023984593837535) 0%, rgba(173,173,173,1) 100%);
	background-attachment: fixed;
	margin: 0;
}

.background-image {
	width: calc(650px + 0.390625vw);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity: 0.1;
}

.banner {
	padding: calc(1px + 0.390625vw);
	background: #000000;
	position: fixed;
	top: 0;
	width: 99.2%
}

.header {
	font-size: calc(50px + 0.390625vw);
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

.info {
	font-size: calc(20px + 0.390625vw);
}

.radar {
	width: 30px;
}

.guardbird {
	font-family: 'Chakra Petch', sans-serif;
	font-size: calc(8px + 0.390625vw);
	position: relative;
	float: right;
	margin-top: 7px;
	color: white;
}

.closest-violator {
	font-family: 'Chakra Petch', sans-serif;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 2vw;
	width: calc(350px + 0.390625vw);
	height: calc(220px + 0.390625vw);
	border-radius: 10px;
	background: #cf1212;
	box-shadow:inset 0px 0px 0px 5px rgb(255, 255, 255);
	color: white;
}

.list-of-pilots {
	font-family: 'Chakra Petch', sans-serif;
	font-size: calc(15px + 0.390625vw);
	text-align: center;
}

.ndz-image {
	width: calc(150px + 0.390625vw);
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 6px;
}

.center-loading-animation {
	display: flex;
	justify-content: center;
}

.card {
	display: block;
	margin: auto;
	margin-bottom: 25px;
	width: calc(350px + 0.390625vw);
	height: calc(90px + 0.390625vw);
	border-radius: 10px;
	background: #cf1212;
	box-shadow:inset 0px 0px 0px 5px rgb(255, 255, 255);
	color: white;
	font-size: calc(13px + 0.190625vw);
}

.pilot-info {
	display: inline-block;
}

.pilot-number {
	margin-top: -13px;
	margin-bottom: -16px;
	color: rgb(255, 255, 255);
}

.phone-icon {
	position: absolute;
	margin-left: -100px;
	margin-top: -6px;
	width: 20px;
}

.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-bottom: 50px;
}

.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	margin-bottom: 50px;
	border-radius: 50%;
	border: 6px solid rgb(0, 0, 0);
	border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
}